{{ form_start(form, {'attr': {'class':'form-horizontal formTasca'}}) }}
{{ form_errors(form) }}
    <div class="form-group mb-2">
        <div class="col-xs-6">
            {{ form_row(form.nom, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_row(form.color, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-xs-12">
            {{ form_row(form.descripcio, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-xs-12">
            {{ form_row(form.timestamp) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            {{ form_row(form.Guardar, {'attr': {'class':'pull-right btn btn-primary sr-button'}}) }}
            <button id="tancarModal" class="btn btn-primary mt-2">Cancelar</button>
        </div>
    </div>
{{ form_end(form) }}